{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": "eslint-config-standard",
    "rules": {
        // enable additional rules
        "indent": [
            "off",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "brace-style": [
            "error",
            "1tbs"
        ],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        // disable rules from base configurations
        "no-console": "off",
        "no-undef": "off",
        "semi": "off"
    }
}